useDynLib(rOptManifold)
#exportPattern("^[[:alpha:]]+")

exportClasses("manifold")

exportMethods("*",
              "steepestDescent",
              "trustRegion",
              "conjugateGradient",
              "particleSwarm",
              "setGradient<-",
              "["
              )

export("fixedRank",
       "fixedRankSym",
       "fixedRankPSD",
       "elliptope",
       "spectahedron",
       "stiefel",
       "sphere",
       "grassmanQ")