useDynLib(rOptManifold)
#exportPattern("^[[:alpha:]]+")

exportClasses("manifold")

exportMethods("*",
              "steepestDescent",
              "trustRegion",
              "conjugateGradient",
              "particleSwarm",
              "setGradient<-",
              "[",
              "checkGradient",
              "checkHessian"
              )

export("fixedRank",
       "fixedRankSym",
       "fixedRankPSD",
       "elliptope",
       "spectahedron",
       "stiefel",
       "sphere",
       "grassmannQ",
       "grassmannSub",
       "oblique")